.error-page-container {
  display: flex;
  padding: 2rem;
  height: 77dvh;
  justify-content: center;
  align-items: center;
}

.error-page-content {
  background-color: rgba(0, 0, 0, 0.966) !important;
  color: #fff;
  padding: 1.5rem;
  border: 1px solid rgba(0, 255, 0, 0.2);
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.15);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.homePage-btn {
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 1rem;
  color: #fff;
  background-color: rgba(0, 255, 0, 0.2);
  border: 1px solid rgba(0, 255, 0, 0.2);
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background-color: rgba(0, 255, 0, 0.4);
    box-shadow: 0 0 10px rgba(0, 255, 0, 0.3);
  }
}