# Git
.git
.gitignore

# Node
node_modules
npm-debug.log

# Environment
.env
.env.local
.env.development
.env.production

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Build
build
dist

# Logs
logs
*.log
