.phishing-tasks-container {
  border-radius: 8px;
  padding: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 4rem;
  height: 77dvh;
}

.grid-item {
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 1.5rem;
  border: 1px solid rgba(0, 255, 0, 0.2);
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 255, 0, 0.15);
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    transform: scale(1.02);
    box-shadow: 0 0 15px rgba(0, 255, 0, 0.4);
    cursor: pointer;
  }
}

.main-page-task-img {
  width: 12rem;
}
