.navbar-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  max-height: 7dvh;
  margin-top: 0.5rem;
  position: relative;
}

.navbar-logo {
  text-decoration: none;
  color: white;
}

.navbar-logo-image {
  width: 140px;
  height: auto;
}

.navbar-logo-image:hover {
  opacity: 0.8;
}

.navbar-items {
  display: none;
  flex-direction: column;
  align-items: flex-end;
  background-color: transparent;
  width: 100%;
  padding: 1rem;
  position: absolute;
  top: 100%;
  right: 0;
  z-index: 100;
}

.navbar-items.open {
  display: flex;
}

.navbar-item {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar-list-item {
  margin-bottom: 1rem;
}

.navbar-link {
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 1.2rem;
}

.navbar-link:hover {
  color: gray;
}

.navbar-underline {
  width: 100%;
  height: 1px;
  background-color: gray;
  margin-top: 0rem;
}

.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 25px;
  height: 20px;
  cursor: pointer;
}

.hamburger span {
  display: block;
  height: 3px;
  background: #FFFFFF;
  border-radius: 2px;
  transition: all 0.3s;
}


.hamburger.open span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.open span:nth-child(2) {
  opacity: 0;
}

.hamburger.open span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}

@media (min-width: 769px) {
  .navbar-items {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    background: none;
    color: white;
    position: static;
    padding: 0;
  }

  .navbar-item {
    display: flex;
    color: white;
  }

  .navbar-list-item {
    margin: 0 1rem;
  }

  .navbar-link {
    color: white;
  }

  .hamburger {
    display: none;
  }
}
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }
}